@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root{
    font-family: "Inter", sans-serif;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}


footer{
    background-color: rgb(0, 25 , 55);
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 30px 10px;
}

footer h1{
    font-weight: 300;
}

footer h2{
    font-weight: 300;
}

footer div{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 0%;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    position: relative;
}


.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}
.hero{
    display: flex;
    height: 90vh;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    max-height: 100%;
    max-width: 100%;
}

.hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: aliceblue;
}

.hero-text-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    justify-content: space-between;
}

.hero-text-content h1{
    font-size: 5vw;
    font-weight: 300;
    padding: 0%;
    margin: 0%;
}

.hero-text-content h2{
    font-weight: 250;
    font-size: 1.5vw;
}

.btn-wrapper{
    height: max-content;
    width: max-content;
}

.platform-btn{
    color: white;
    background-color: rgb(0, 70, 160);
    outline: auto;
    cursor: pointer;
    height: 100px;
    width: 200px;
    font-size: 150%;
    transition: ease 0.2s;
}

.platform-btn:hover{
    background-color: rgb(0, 55, 130);
    scale: 0.99;
}

.logo img{
    max-width: 75px;
}

@media (max-width: 1024px) {
    .hero-text-content h2{
        font-size: 2vh;
    }
}

@media (max-width: 650px) {
    .hero{
        height: fit-content;
        flex-direction: column;
    }

    .hero-img, .hero-img img{
        width: 100%;
    }

    .hero-text{
        width: 100%;
        height: fit-content;
    }

    .hero-text h1{
        font-size: 10vw;
    }

    .hero-text-content{
        height: auto;
    }

    .hero-text-content h2{
        font-size: 5vw;
    }

    footer{
        flex-direction: column;
    }

    footer div {
        width: 100%;
    }
}