@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root{
    font-family: "Inter", sans-serif;
}

body{
    margin: 0;
}

.navbar{
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 0%;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.hero{
    display: flex;
    height: 90vh;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    max-height: 100%;
    max-width: 100%;
}

.hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: aliceblue;
}

.hero-text-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    justify-content: space-between;
}

.hero-text-content h1{
    font-size: 5vw;
    font-weight: 300;
    padding: 0%;
    margin: 0%;
}

.hero-text-content h2{
    font-weight: 250;
    font-size: 1.5vw;
}

.btn-wrapper{
    height: max-content;
    width: max-content;
}

.platform-btn{
    color: white;
    background-color: rgb(0, 70, 160);
    outline: auto;
    cursor: pointer;
    height: 100px;
    width: 200px;
}

@media (max-width: 425px) {
    .hero{
        flex-direction: column;
    }

    .hero-img, .hero-img img{
        width: 100%;
    }

    .hero-text{
        width: 100%;
        height: fit-content;
    }
}